doctype
html(lang="en-US")
  head
    link(rel="stylesheet" href="styles.css")
    style.
      *,
      *::before,
      *::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      body {
        font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
      }
  body
    #zefir-select.zefir-select-container
      .zefir-select(tabindex="0")
        .zefir-select-inner
          .zefir-select-selected-value(title="Mystical India") Mystical India
          .zefir-select-search
            .zefir-select-search-inner
              input.zefir-select-search-input(
                autocomplete="off"
                value=""
              )
              span.zefir-select-search-mirror &nbsp;
        span.zefir-select-arrow(unselectable="on")
          i.zefiricon.zefir-select-arrow-icon
            svg(
              viewBox="64 64 896 896"
              width="1em"
              height="1em"
              fill="currentColor"
              focusable="false"
            )
              path(
                d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"
              )
      .zefir-select-dropdown
        ul
          li Geenie Mega Reels
          li Joker Goes Wild
          li Robinhood Mega Stacks
          li Queen of the Pharaohs
          li Double Chilli
          li Blood Sport
          li Karate Kid
          li Wild Shot
          li Gold Shot
          li Mystical India
          li Olympic Cash
          li Polka Reel
          li Rambo

    select#cycle_version
      option(value="0") Geenie Mega Reels
      option(value="1") Joker Goes Wild
      option(value="2") Robinhood Mega Stacks
      option(value="3") Queen of the Pharaohs
      option(value="4") Double Chilli
      option(value="5") Blood Sport
      option(value="6") Karate Kid
      option(value="7") Wild Shot
      option(value="8") Gold Shot
      option(value="9") Mystical India
      option(value="10") Olympic Cash
      option(value="11") Polka Reel
      option(value="12") Rambo